@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&family=Raleway:wght@300&display=swap');

body {
    background-color: hsl(0, 0%, 86%);
    font-family: 'Poppins', sans-serif;
}

.form-container {
    background-color: hsl(0, 0%, 94%);
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-radius: 10px 10px 80px 10px;
    max-width: 500px;
    margin: 15% auto;
}

form {
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
    margin: 20px 0;
    height: 1px;
}

.input-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.label-error {
    color: hsl(0, 100%, 67%);
}

.input label {
    font-size: 12px;
    padding-bottom: 3px;
}

input {
    background-color: hsl(0, 0%, 94%);
    border-radius: 3px;
    border: solid 1px hsl(0, 0%, 86%);
    padding: 6px;
}

.input-error {
    border: solid 1px hsl(0, 100%, 67%);
}

.input .error-message {
    font-size: 10px;
    color: hsl(0, 100%, 67%);
    font-style: italic;
    padding-top: 2px;
}

.submit {
    margin-top: 10px;
}

.output-area p {
    font-size: 40px;
    margin: 0;
}

.output-area p span {
    color: hsl(259, 100%, 65%);
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}